#Ignore any backups made by gedit
*~


#These files are created during the usual configure;make build:
src/*.o
src/*.d
crinkle/*.o
crinkle/*.d
.Rproj.user

#These files are created while running tests:
q2e/tests/testthat/*.csv
q2e/tests/testthat/*.txt

#These files are created while running vignettes:
q2e/tests/testthat/*.csv
q2e/tests/testthat/*.txt

